model_name: "resnet18_imagenet" # <-- Используем стандартный ResNet
dataset_name: "imagenette"    # <-- Новый датасет
num_classes: 10
data_dir: "./data"
checkpoint_dir: "./checkpoints_imagenette" # <-- Новая папка для чекпоинтов

epochs: 20 # Для ImageNette хватит и поменьше эпох
batch_size: 64 # Уменьшим батч, т.к. картинки больше
num_workers: 8
device: "cuda"

optimizer:
  name: "adam"
  params:
    lr: 0.001
    weight_decay: 0.0001

scheduler:
  name: "cosine"
  params:
    T_max: 20 # Равно числу эпох