model_name: "resnet18_imagenet" # <-- Используем стандартный ResNet
dataset_name: "imagenette"    # <-- Новый датасет
num_classes: 10
data_dir: "./data"
checkpoint_dir: "./checkpoints_imagenette_pgd7" # <-- Новая папка для чекпоинтов

epochs: 20 # Для ImageNette хватит и поменьше эпох
batch_size: 64 # Уменьшим батч, т.к. картинки больше
num_workers: 8
device: "cuda"

optimizer:
  name: "adam"
  params:
    lr: 0.001
    weight_decay: 0.0001

scheduler:
  name: "cosine"
  params:
    T_max: 20 # Равно числу эпох

adversarial_training:
  enabled: true
  # PGD-7
  attack_config:
    epsilon: 0.03137 # 8/255
    steps: 7
    initializer: { name: random_linf }
    loss: { name: cross_entropy }
    gradient: { name: standard }
    updater: { name: sign }
    projector: { name: linf }
    scheduler: { name: fixed, params: { step_size: 0.00784 } } # 2/255