model_name: "resnet18_imagenet"
dataset_name: "imagenette"
num_classes: 10
data_dir: "./data"
checkpoint_dir: "./checkpoints_imagenette"

epochs: 20
batch_size: 64
num_workers: 8
device: "cuda"

optimizer:
  name: "adam"
  params:
    lr: 0.001
    weight_decay: 0.0001

scheduler:
  name: "cosine"
  params:
    T_max: 20 # Равно числу эпох