# --- Параметры Поиска ---
# Используем Optuna для "умного" поиска компромисса между ASR и L2 нормой
search:
  sampler: "optuna"
  # Optuna будет максимизировать ASR (первое значение) и минимизировать L2 (второе)
  direction: ["maximize", "minimize"]

num_trials: 200
num_eval_samples: 1000
search_space_path: "configs/search_space.yaml"
results_dir: "./results_ensemble"

# --- Параметры Атаки (общие для всех прогонов) ---
epsilon: 0.03137 # 8/255
steps: 20        # Ищем достаточно сильные атаки
norm: "linf"     # Пространство поиска для L-infinity атак

# --- Модели для Атаки ---
# Используем ключ `models` для указания списка моделей.
# Первая модель в списке будет "суррогатной" для генерации атаки.
# Лучше всего в качестве суррогатной использовать стандартную обученную модель,
# так как атаки, сгенерированные на ней, лучше переносятся.
models:
  # Модель 1: Стандартная "чистая" модель (Суррогат)
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette/model_best.pth.tar"

  # Модель 2: Защищенная с помощью PGD-AT
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette_pgd7/model_best.pth.tar"

  # Модель 3: Защищенная с помощью TRADES
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette_trades/model_best.pth.tar"

# --- Датасет для Атаки ---
dataset:
  name: "imagenette"
  data_dir: "./data"
  batch_size: 64
  num_workers: 8