# --- Параметры Поиска ---
search:
  sampler: "evolutionary"
  params:
    population_size: 5
    mutation_rate: 0.2
    tournament_size: 3
    objectives:
      - metric: "attack_success_rate"
        direction: "maximize"
      - metric: "avg_l2_norm"
        direction: "minimize"
    constraints:
      - metric: "attack_success_rate"
        type: "greater_than"
        threshold: 0.1
    mutation_strategy:
      - type: "parameter"
        probability: 0.65
      - type: "structural"
        probability: 0.30
      - type: "inter_norm"
        probability: 0.05

num_trials: 3         # Сколько случайных конфигураций протестировать
num_eval_samples: 500  # На скольких примерах оценивать каждую конфигурацию
search_space_path: "configs/search_space.yaml"
results_dir: "./results_evolutionary" # Директория для сохранения результатов

# --- Параметры Атаки (общие для всех прогонов) ---
epsilon: 0.03137 # 8/255
steps: 20
norm: "linf" # Указываем, какую норму будем исследовать в этом поиске

# --- Модели для Атаки ---
# Используем ключ `models` для указания списка моделей.
# Первая модель в списке будет "суррогатной" для генерации атаки.
# Лучше всего в качестве суррогатной использовать стандартную обученную модель,
# так как атаки, сгенерированные на ней, лучше переносятся.
models:
  # Модель 1: Стандартная "чистая" модель (Суррогат)
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette/model_best.pth.tar"

  # Модель 2: Защищенная с помощью PGD-AT
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette_pgd7/model_best.pth.tar"

  # Модель 3: Защищенная с помощью TRADES
  - model_name: "resnet18_imagenet"
    num_classes: 10
    checkpoint_path: "./checkpoints_imagenette_trades/model_best.pth.tar"

# --- Датасет для Атаки ---
dataset:
  name: "imagenette"
  data_dir: "./data"
  batch_size: 64
  num_workers: 8